<a href="https://colab.research.google.com/github/abhijeet-0019/deep-learning-practice/blob/main/ANN01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv('https://raw.githubusercontent.com/abhijeet-0019/deep-learning-practice/main/DeepLearningUdemy/DataSet_CSV.csv')

In [ ]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
X = dataset.iloc[:,3:13].values
Y = dataset.iloc[:, 13].values

first line of code simply, get all the data from column 3 to 13 in X.
second line of code, all the values of column 13 to Y. The iloc() function in python is defined in the Pandas module that helps us to select a specific row or column from the data set.

In [ ]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [ ]:
print(Y)

[1 0 1 ... 1 1 0]

conversion of gender entries to 0 and 1

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
labelencoder_X_2 = LabelEncoder()

In [ ]:
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [ ]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

Now need to perform oneHotEncoding to convert geographical locations to numeric

In [ ]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('one', OneHotEncoder(),[1])], remainder='passthrough')

ColumnTransfromer Arguements: name for the column transformer, Transformer name, we are transforming 1st column, what to do with other columns of he dataset is decided by remainder (either drop or passthrough or perform some other function)

In [ ]:
X = np.array(ct.fit_transform(X), dtype = np.str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

In [ ]:
X = X[:, 1:]

In [ ]:
print(X)

[['0.0' '0.0' '619' ... '1' '1' '101348.88']
 ['0.0' '1.0' '608' ... '0' '1' '112542.58']
 ['0.0' '0.0' '502' ... '1' '0' '113931.57']
 ...
 ['0.0' '0.0' '709' ... '0' '1' '42085.58']
 ['1.0' '0.0' '772' ... '1' '0' '92888.52']
 ['0.0' '0.0' '792' ... '1' '0' '38190.78']]

Here in the above code, the refreshed two columns together represents the value of geographical location in combination of 0 and 1

**Training the Set**
training and testing data.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

20 percetent test data, and 80 percent is trining data. random state 0, not to randomly choose rows.

**FEATURE SCALING**

Fearure Scaling or Standardization: It is a step of Data Pre Processing that is applied to independent variables or features of data. It basically helps to normalize the data within a particular range. Sometimes, it also helps in speeding up the calculations in an algorithm. Package Used: sklearn.preprocessing

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
import pandas as pd
print(X_train)

[[-0.5698444   1.74309049  0.16958176 ...  0.64259497 -1.03227043
   1.10643166]
 [ 1.75486502 -0.57369368 -2.30455945 ...  0.64259497  0.9687384
  -0.74866447]
 [-0.5698444  -0.57369368 -1.19119591 ...  0.64259497 -1.03227043
   1.48533467]
 ...
 [-0.5698444  -0.57369368  0.9015152  ...  0.64259497 -1.03227043
   1.41231994]
 [-0.5698444   1.74309049 -0.62420521 ...  0.64259497  0.9687384
   0.84432121]
 [ 1.75486502 -0.57369368 -0.28401079 ...  0.64259497 -1.03227043
   0.32472465]]

In [ ]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,10
0,-0.569844,1.743090,0.169582,-1.091687,-0.464608,0.006661,-1.215717,0.809503,0.642595,-1.032270,1.106432
1,1.754865,-0.573694,-2.304559,0.916013,0.301026,-1.377440,-0.006312,-0.921591,0.642595,0.968738,-0.748664
2,-0.569844,-0.573694,-1.191196,-1.091687,-0.943129,-1.031415,0.579935,-0.921591,0.642595,-1.032270,1.485335
3,-0.569844,1.743090,0.035566,0.916013,0.109617,0.006661,0.473128,-0.921591,0.642595,-1.032270,1.276528
4,-0.569844,1.743090,2.056114,-1.091687,1.736588,1.044737,0.810193,0.809503,0.642595,0.968738,0.558378
...,...,...,...,...,...,...,...,...,...,...,...
7995,1.754865,-0.573694,-0.582970,-1.091687,-0.656016,-0.339364,0.703104,0.809503,0.642595,0.968738,1.091330
7996,-0.569844,1.743090,1.478815,-1.091687,-1.613058,-0.339364,0.613060,-0.921591,0.642595,0.968738,0.131760
7997,-0.569844,-0.573694,0.901515,0.916013,-0.368904,0.006661,1.361474,0.809503,0.642595,-1.032270,1.412320
7998,-0.569844,1.743090,-0.624205,-1.091687,-0.081791,1.390762,-1.215717,0.809503,0.642595,0.968738,0.844321
7999,1.754865,-0.573694,-0.284011,-1.091687,0.875251,-1.377440,0.511364,-0.921591,0.642595,-1.032270,0.324725

**Building ANN**

Keras lib and packages

initialize the ANN -> classifier = Sequential()

In [ ]:
from keras.models import Sequential

In [ ]:
from keras.layers import Dense

In [ ]:
classifier = Sequential()

-> Adding the imput layer and the first hidden layer

In [ ]:
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

Arguments -> units-no of last layer neurons, kernel_initializer- how to initilize the weight to layers, activation function, imput_dim- imput neurons - we have 11 independent variables columns

-> Addition of next hidden layer

In [ ]:
classifier.add(Dense(units=6, kernel_initializer = 'uniform', activation = 'relu'))
# no need for last input_dim argument, as it takes it form the last layer

-> Output Layer

In [ ]:
# need only one neuron, in dataset we have dependent variable in binary form, the customer will leave
# if it is zero or stay if it is one
classifier.add(Dense(units=1, kernel_initializer = 'uniform', activation = 'sigmoid'))

**Compilation**

In [ ]:
classifier.compile(optimizer = 'adam', loss='binary_crossentropy', metrics = ['accuracy'] )

Arguments: set optimization technique, another optimization technique, evaluation our ANN model.

**Fitting DataSet to out Model**

In [ ]:
classifier.fit(X_train, y_train, batch_size=10, epochs=100)

Epoch 1/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8346
Epoch 2/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8355
Epoch 3/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8325
Epoch 4/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4022 - accuracy: 0.8334
Epoch 5/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4019 - accuracy: 0.8339
Epoch 6/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4022 - accuracy: 0.8353
Epoch 7/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4020 - accuracy: 0.8341
Epoch 8/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4016 - accuracy: 0.8350
Epoch 9/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8332
Epoch 10/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8339
Epoch 11/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4020 - accuracy: 0.8330
Epoch 12/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4023 - accuracy: 0.8335
Epoch 13/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4013 - accuracy: 0.8342
Epoch 14/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4016 - accuracy: 0.8344
Epoch 15/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8345
Epoch 16/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4019 - accuracy: 0.8341
Epoch 17/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4019 - accuracy: 0.8351
Epoch 18/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4024 - accuracy: 0.8345
Epoch 19/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4016 - accuracy: 0.8331
Epoch 20/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4018 - accuracy: 0.8339
Epoch 21/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4018 - accuracy: 0.8326
Epoch 22/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8339
Epoch 23/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4018 - accuracy: 0.8349
Epoch 24/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4018 - accuracy: 0.8345
Epoch 25/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8334
Epoch 26/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4018 - accuracy: 0.8347
Epoch 27/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8326
Epoch 28/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4016 - accuracy: 0.8351
Epoch 29/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4020 - accuracy: 0.8349
Epoch 30/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8335
Epoch 31/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4016 - accuracy: 0.8341
Epoch 32/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4016 - accuracy: 0.8345
Epoch 33/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4016 - accuracy: 0.8349
Epoch 34/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8339
Epoch 35/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4020 - accuracy: 0.8340
Epoch 36/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8339
Epoch 37/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4018 - accuracy: 0.8346
Epoch 38/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8351
Epoch 39/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4015 - accuracy: 0.8349
Epoch 40/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4019 - accuracy: 0.8336
Epoch 41/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4017 - accuracy: 0.8346
Epoch 42/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4016 - accuracy: 0.8341
Epoch 43/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4014 - accuracy: 0.8331
Epoch 44/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4016 - accuracy: 0.8338
Epoch 45/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8346
Epoch 46/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4019 - accuracy: 0.8342
Epoch 47/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8342
Epoch 48/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8346
Epoch 49/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8330
Epoch 50/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8330
Epoch 51/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8339
Epoch 52/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4014 - accuracy: 0.8342
Epoch 53/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8351
Epoch 54/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4016 - accuracy: 0.8342
Epoch 55/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4017 - accuracy: 0.8341
Epoch 56/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8334
Epoch 57/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8340
Epoch 58/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8340
Epoch 59/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8335
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8340
Epoch 61/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8344
Epoch 62/100
800/800 [==============================] - 3s 4ms/step - loss: 0.4018 - accuracy: 0.8353
Epoch 63/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4014 - accuracy: 0.8344
Epoch 64/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8355
Epoch 65/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4013 - accuracy: 0.8332
Epoch 66/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8350
Epoch 67/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8331
Epoch 68/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8338
Epoch 69/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8347
Epoch 70/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8329
Epoch 71/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8334
Epoch 72/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8341
Epoch 73/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8355
Epoch 74/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8334
Epoch 75/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8332
Epoch 76/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8341
Epoch 77/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8345
Epoch 78/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8336
Epoch 79/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8345
Epoch 80/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4007 - accuracy: 0.8349
Epoch 81/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8344
Epoch 82/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4008 - accuracy: 0.8332
Epoch 83/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8340
Epoch 84/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8336
Epoch 85/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4007 - accuracy: 0.8356
Epoch 86/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8349
Epoch 87/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4007 - accuracy: 0.8338
Epoch 88/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4007 - accuracy: 0.8335
Epoch 89/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8341
Epoch 90/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4013 - accuracy: 0.8334
Epoch 91/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4008 - accuracy: 0.8353
Epoch 92/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8349
Epoch 93/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4013 - accuracy: 0.8346
Epoch 94/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8336
Epoch 95/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4002 - accuracy: 0.8356
Epoch 96/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8332
Epoch 97/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8350
Epoch 98/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8328
Epoch 99/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4006 - accuracy: 0.8346
Epoch 100/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4007 - accuracy: 0.8330

As the number of epochs increases the accuracy scores also increases, we need to train the dataset on certain number of epoches to increase its accuracy

**Predecting the test set result**

In [ ]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred>0.5)

In [ ]:
print(y_pred)

[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cn = confusion_matrix(y_test, y_pred)

In [ ]:
print(cn)

[[1552   43]
 [ 278  127]]

In [ ]:
accuracy_score(y_test, y_pred)

0.8395